@CHARSET "ISO-8859-1";
#nav_container {
  list-style-type: none;
  background: #87cefa;
  margin-bottom: 15;
}

#nav_container li {
  display: inline-block;
}

#nav_container li a {
  display: inline-block;
  text-decoration: none;
  padding: 5;
  color: black
}

#nav_container li a:hover {
  background: #556B78
}

.right_column {
  float: right;
  width: 160;
}

.left_column {
  margin-right: 170;
}

#greeting {
  background: #556B78;
  color: white;
}

#activitiesheading {
  background: #556B78;
}

#resumeheading {
  background: #556B78;
  color: white;
}

#contactheading {
  background: #556B78;
}


#updatedtext {
  background:#556B78;
  display: inline;
}

#linkedin:hover {
	
}
