@CHARSET "ISO-8859-1";
#nav_container {
  list-style-type: none;
  background: #556B78;
  margin-bottom: 15;
}

#nav_container li {
  display: inline-block;
}

#nav_container li a {
  display: inline-block;
  text-decoration: none;
  padding: 5;
  color: #556B78
}

#nav_container li a:hover {
  background: #8bafc4
}

.right_column {
  float: right;
  width: 160;
}

.left_column {
  margin-right: 170;
}

#greeting {
  background: #556B78;
  color: #e1ecf2;
}

#activitiesheading {
  background: #556B78; /* Background color */
  color: #e1ecf2; /* Text color */
}

#resumeheading {
  background: #556B78;
  color: #e1ecf2;
}

#contactheading {
  background: #556B78;
  color: #e1ecf2;
}


#updatedtext {
  background:#556B78;
  display: inline;
  color: #e1ecf2;
}

#linkedin:hover {
	
}
